:root {
  --primary-light: #f4cdcd;
  --primary-dark: #9b3457;
  --secondary-dark: #e793b9;
  --secondary-dark-hover: #73ea91;
  --secondary-dark-active: #3ae2c9;
  --header: #f1d8e4;
  --primary-accent: #6e0915;
  -o-transition-default: all 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-family: "Comic Sans MS", cursive, sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  transition: var(--o-transition-default);
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  background-color: var(--header);
}

.title {
  font-size: 32px;
  color: var(--primary-accent);
  font-family: "Press Start 2P", cursive, sans-serif;
}

/* MAIN */

.main {
  margin-top: 40px;
  text-align: center;
}

.scoreboard {
  margin-bottom: 15px;
}

.score-info {
  font-size: 32px;
}

.score-message {
  font-size: 20px;
  margin-bottom: 15px;
}

.scores-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
}

.score-box {
  width: 170px;
}

.score {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.btn {
  border-radius: 10px;
  background-color: var(--secondary-dark);
  transition: var(--transition-default);
}

.btn-square {
  width: 160px;
  height: 160px;
}

.btn:hover {
  background-color: var(--secondary-dark-hover);
  transform: translateY(-3px);
}

.btn:active {
  background-color: var(--secondary-dark-active);
  transform: translateY(1px);
}

.btn:disabled {
  background-color: var(--secondary-dark-active);
  transform: translateY(1px);
}

.sign {
  font-size: 80px;
  margin-bottom: 10px;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: var(--primary-light);
  font-size: 20px;
}

.github-logo {
  display: block;
  max-width: 28px;
  max-height: 28px;
  color: var(--primary-light);
  transition: transform 0.3s ease-in-out;
}

.github-logo:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MODALS */

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--primary-dark);
  text-align: center;
  font-size: 30px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn-restart {
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.overlay.active {
  display: block;
}

/* MEDIA QUERIES */

@media (max-width: 550px) {
  .title {
    font-size: 18px;
    padding: 0 10px;
    text-align: center;
  }

  .score-info {
    font-size: 26px;
  }

  .buttons {
    gap: 10px;
  }

  .btn-square {
    width: 100px;
    height: 100px;
  }

  .sign {
    font-size: 50px;
  }

  .modal {
    width: 95%;
  }
}
